button {
  background-color: #F1E4E4;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(.git/images/flower.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;

}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  color: #005542
}

.inputsection {
  margin: 50px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addoption {
  margin-top: 10px;
}

.resultsection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #005542;
}
